#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include "espressif/esp32s3/esp32s3_wroom_n16r8.dtsi"

/ {
	chosen {
		zephyr,display = &st7796s_320x480;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
	};

	lvgl_pointer {
		compatible = "zephyr,lvgl-pointer-input";
		input = <&ft5336>;
		invert-y;
	};

    backlight_leds: backlight_leds {
		compatible = "pwm-leds";
		display_back_led: display_back_led_0 {
			pwms = <&ledc0 0 PWM_MSEC(5) PWM_POLARITY_NORMAL>;
			label = "display backlight";
		};
	};

    aliases {
		backlight0 = &display_back_led;
		rtc = &rtc;
		uart-0 = &uart0;
	};

	mipi_dbi_st7796s_320x480 {
		compatible = "zephyr,mipi-dbi-spi";
		spi-dev = <&spi2>;
		dc-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;	/* 9 */
		reset-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;	/* 14 */
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		st7796s_320x480: st7796s@0 {
			compatible = "sitronix,st7796s";
			mipi-max-frequency = <40000000>;
			reg = <0>;
			width = <480>;
			height = <320>;
            vcmpctl = <0x0A>;
            madctl = <0x28>;
            pwr1 = [80 45];
            pwr2 = <0x13>;
            pwr3 = <0xA7>;
            doca = [40 8A 00 00 29 19 A5 33];
			pgc = [D0 08 0F 06 06 33 30 33 47 17 13 13 2B 31];
            ngc = [D0 0A 11 0B 09 07 2F 33 47 38 15 16 2C 32];
			color-invert;
		};
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&spi2 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
};

&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c1_default>;
	pinctrl-names = "default";
	ft5336: ft5336@38 {
		compatible = "focaltech,ft5336";
		reg = <0x38>;
		reset-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
	};
};

&ledc0 {  
	#address-cells = <1>; 
    #size-cells = <0>; 
    pinctrl-0 = <&ledc0_default>;  
    pinctrl-names = "default";  
    status = "okay";  
      
    channel0@0 {  
        reg = <0x0>;  
        timer = <0>;  
    };  
};

&pinctrl {  
    ledc0_default: ledc0_default {  
        group1 {  
            pinmux = <LEDC_CH0_GPIO7>;
            output-enable;  
        };  
    };  
};

&rtc_timer {  
    status = "okay";  
};